ion-app.classic-dark-theme, .themePreview.classic-dark-theme {

  /**-------------**/
  /** ion changes **/
  /**-------------**/
  --ion-color-primary: #87d2f6;
  --ion-color-success: #3f6336;

  /**-----------**/
  /** Variables **/
  /**-----------**/


  --fat-primary: #3f7189;
  
  --fat-primary-shade-step-50: #3c6b82;
	--fat-primary-shade-step-100: #39667b;
	--fat-primary-shade-step-150: #366074;
	--fat-primary-shade-step-200: #325a6e;
	--fat-primary-shade-step-250: #2f5567;
	--fat-primary-shade-step-300: #2c4f60;
	--fat-primary-shade-step-350: #294959;
	--fat-primary-shade-step-400: #264452;
	--fat-primary-shade-step-450: #233e4b;
	--fat-primary-shade-step-500: #203945;
	--fat-primary-shade-step-550: #1c333e;
	--fat-primary-shade-step-600: #192d37;
	--fat-primary-shade-step-650: #162830;
	--fat-primary-shade-step-700: #132229;
	--fat-primary-shade-step-750: #101c22;
	--fat-primary-shade-step-800: #0d171b;
	--fat-primary-shade-step-850: #091115;
	--fat-primary-shade-step-900: #060b0e;
	--fat-primary-shade-step-950: #030607;

  --fat-primary-tint-step-50: #a1e1ff;
	--fat-primary-tint-step-100: #7abddd;
	--fat-primary-tint-step-150: #73b3d1;
	--fat-primary-tint-step-200: #6ca8c5;
	--fat-primary-tint-step-250: #659eb9;
	--fat-primary-tint-step-300: #5f93ac;
	--fat-primary-tint-step-350: #5889a0;
	--fat-primary-tint-step-400: #517e94;
	--fat-primary-tint-step-450: #4a7487;
	--fat-primary-tint-step-500: #44697b;
	--fat-primary-tint-step-550: #3d5e6f;
	--fat-primary-tint-step-600: #365462;
	--fat-primary-tint-step-650: #2f4a56;
	--fat-primary-tint-step-700: #293f4a;
	--fat-primary-tint-step-750: #22353e;
	--fat-primary-tint-step-800: #1b2a31;
	--fat-primary-tint-step-850: #142025;
	--fat-primary-tint-step-900: #0d1519;
	--fat-primary-tint-step-950: #070b0c;

  --fat-primary-contrast: #ffffff;

  --fat-vtrigger: #ab3a3a;
  --fat-vtrigger-shade: #e00000;
  --fat-vtrigger-tint: #231111;
  --fat-vtrigger-contrast: #ffffff;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/

  --fat-a: #b6d0ff;
  --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-active-button: #87d2f6;
  --fat-ionalert-confirm-buttons: #87d2f6;

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  --fat-card-header-bg: #373737;
  --fat-card-header-contrast: #87d2f6;
  --fat-card-bg: #1f1f1f;
  --fat-card-border: #303030;
  --fat-card-p: #ffffff;

  // Switcher
  --fat-switcher-background: #1f1f1f;
  --fat-switcher-unchecked-contrast: #ffffff90;
  --fat-switcher-primary-checked-contrast: #7fbce6;;
  --fat-switcher-vtrigger-checked-contrast: #ff4949;
  --fat-switcher-android-background: #121212;
  --fat-switcher-primary-ios-background: #182731;
  --fat-switcher-primary-ios-checked: #224964;
  --fat-switcher-vtrigger-ios-background: #351717;
  --fat-switcher-vtrigger-ios-checked: #642222;

  // Toggle
  --fat-toggle-handle-background: #7f7f7f;
  --fat-toggle-background-checked: rgb(127, 188, 230, 0.5);
  --fat-toggle-handle-background-checked: #7fbce6;

  // IonList
  --fat-ionlist-header: #87d2f6;
  --fat-ionlist-thick-header: #373737;
  --fat-ionlist-thick-header-contrast: #87d2f6;
  --fat-ionlist-border: #3e3e3e;
  --fat-ionlist-label-p: #c8c8c8;
  --fat-ionlist-icon: #d6d6d6;
  --fat-ionlist-highlighted-background: #14242f;
  --fat-ionlist-highlighted-contrast: #87d2f6;
  --fat-ionlist-sublist-header-background: var(--fat-surface);
  --fat-checkbox-checked: #0f4c75;
  --fat-meter-full: #71b5d5;
  --fat-meter-empty: #878787;

  // Markdown
  --fat-markdown-h125: #87d2f6;
  --fat-markdown-h3: #a4dcf7;
  --fat-markdown-h4: var(--assertive);
  --fat-markdown-h6: #ff8080;
  --fat-markdown-b: #87d2f6;
  --fat-markdown-hr: #8badbe;
  
  
  // Menu
  --fat-menu-top: #173346;
  --fat-menu-top-h2: var(--fat-primary-contrast);
  --fat-menu-top-p: #7fbce6;
  --fat-menu-top-lightswitch: var(--fat-primary-shade-step-300);
  --fat-menu-background: #1e1e1e;
  --fat-menu-background-contrast: #ffffff;
  --fat-menu-icon: #acacac;
  --fat-menu-selected-item-bg: #173346;
  --fat-menu-selected-item-contrast: #87d2f6;

  // Wide Menu
  --fat-wide-menu-background: #162e3e;

  // Frame Data
  --fat-datatable-header-bg: #0d3f61;
  --fat-datatable-header-contrast: #ffffff;
  --fat-datatable-hover-border: #223a4b;

  // Character Select & Portrait
  --fat-silouette-filter: brightness(0) saturate(100%) invert(15%) sepia(51%) saturate(1061%) hue-rotate(167deg) brightness(93%) contrast(92%);

  // Stat Compare
  --fat-statcompare-big-header: #87d2f6;
  

  // Fab
  --fat-fab-background: #0f4c75;;
  --fat-fab-inner: #ffffff;

  // What's New
  --fat-whatsnew-header: #87d2f6;
  --fat-whatsnew-feature: #4ec27d;
  --fat-whatsnew-bug: #ff4d4d;
 }