#BookmarksModal {

  ion-list {
    padding: 2px 0;
    max-width: 600px;
    margin: 0 auto;
  }

  .bookmark-message-container {
    text-align: center;
    margin: 50px 15px 0;
    opacity: 0.8;
    > h1 {
      margin-bottom: 15px;
    }
    p {
      margin: 1px;
      span {
        text-decoration: underline;
        cursor: pointer;
        opacity: 1;
        color: var(--fat-a);
      }
    }
    >.chunky-button {
      background-color: var(--fat-primary-tint-step-50);
    }
     
  }

}