.brightnessToggle {
  padding-right: 16px;

	&[checked=false]::part(handle) {
		border-radius: 0;
		box-shadow: none;
		background: url(../../images/icons/light.png);
		background-size: cover;
	}

	&[checked=true]::part(handle) {
		border-radius: 0;
		box-shadow: none;
		background: url(../../images/icons/dark.png);
		background-size: cover;
	}
}
