@media (max-width: 992px) {
  #characterSelectGrid {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-bottom: env(safe-area-inset-bottom);

    .character-block, .hidden-flex-item {
      flex-grow: 1;
      width: 24%;
      min-width: 119px;
      cursor: pointer;
    }
    .hidden-flex-item {
      content: "";
      visibility: hidden;
      margin: 0.5px;
    }
  }
}

@media (min-width: 992px) {
  #characterSelect {
    --width: 90%;
    --min-width: 975px;
    --max-width: 1200px;
    --height: fit-content;

    #characterSelectGrid {
      display: grid;
      padding: 0.5px;

      .character-block {
        cursor: pointer;
        h2 {
          font-size: 15px;
        }
      }
    }
  }
}

