.character-portrait {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--fat-portrait-bg);
  border-radius: 7px;
  // border: 1px solid var(--fat-portrait-border);
  //widths defined in individual page css

  img {
    display: block;
    z-index: 1;
    opacity: var(--fat-portrait-opacity);

    &.silouette {
      right: 14px;
      bottom: 0;
      overflow: hidden;
      filter: var(--fat-silouette-filter);
      z-index: 0;
      position: absolute;
      opacity: 1;
      scale: 1.1;
    }
  }
  h2 {
    position: absolute;
    bottom: 6px;
    right: 0;
    margin: 0px;
    padding: 5px 10px 5px 15px;
    z-index: 2;
    font-size: 12px;
    text-align: center;
    background: var(--fat-primary-shade-step-850);
    color: #e5e5e5;
    text-transform: uppercase;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    min-width: 50px;
    &.smallPortraits {
      padding: 5px 2px 5px 2px;
      font-size: 9px;
      min-width: 35px;
    }
  }
}