ion-item {
  .character-entry-detailed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    padding: 8px 0;
    width: 100%;
    .character-portrait {
      width: 63px;
      min-width: 63px;
      height: 63px;
      border: solid var(--fat-primary-shade-step-300) 2px;
      border-radius: 11px;
      img.silouette {
        right: 4px;
        bottom: 4px;
      }
    }
    .bio {
      flex: 1 1 85%;
      p {
        font-size: 16px;
        opacity: 0.5;
        margin: 0;
      }
      h1 {
        margin: 0;
        font-size: 19px;
      }

      @media (min-width: 360px) {
        flex: 1 1 60%;
      }
      @media (min-width: 408px) {
        flex: 1 1 40%;
      }
    }
    .details {
      flex: 0 1 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      text-align: center;
      max-width: 235px;

      @media (max-width: 407px) {
        justify-content: end;
      }

      @media (min-width: 520px) {
        gap: 25px;
      }

      span {
        display: flex;
        flex-direction: column;
        gap: 3px;
        flex: 0 1 60px;
        h1 {
          font-size: 15px;
          margin: 0;
        }
        p {
          margin: 0;
          opacity: 0.5;
        }
        @media (max-width: 359px) {
          &.medium, &.large {
            display: none;
          }
        }
        @media (max-width: 407px) {
          &.large {
            display: none;
          }
        }
      }
      
    }
  }
}