.DataTableRow {
  cursor: pointer;

  &:nth-child(odd) > .cell, &:nth-child(odd) > .move-name{
    background-color: var(--fat-surface);
  }

  &:nth-child(even) > .cell, &:nth-child(even) > .move-name{
    background-color: var(--fat-surface-tint);
  }

  &:hover > .cell {
    border-bottom: solid 3px var(--fat-datatable-hover-border)
  }

  .cell {
    text-align: center;
    overflow: auto;
    word-break: break-word;
    font-size: 14px;
    padding: 5px;

    border-right: 1px solid var(--fat-surface-border);
    border-bottom: 1px solid var(--fat-surface-border);
    color: var(--fat-surface-contrast);

    &.compact {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  
    &:last-child {
      border-right: none;
    }
  
    &.move-name {
      border-right: 5px solid var(--fat-surface-border);
      &.extra-info-available {
        border-right-color: var(--fat-primary);
        &.triggered-data {
            border-right-color: var(--fat-vtrigger);
        }
      }
      
    }
  
    &.triggered-data {
      font-weight: 900;
      color: var(--fat-surface-contrast	);
    }
  
    &.untriggered-data {
      color: var(--fat-surface-faded);
    }

    &.very-plus-background {
      background-color: var(--fat-datatable-very-plus-background);
    }
    &.just-plus-background {
      background-color: var(--fat-datatable-just-plus-background);
    }
    &.safe-background {
      background-color: var(--fat-datatable-safe-background);
    }
    &.just-unsafe-background {
      background-color: var(--fat-datatable-just-unsafe-background);
    }
    &.very-unsafe-background {
      background-color: var(--fat-datatable-very-unsafe-background);
    }
    &.extremely-unsafe-background {
      background-color: var(--fat-datatable-extremely-unsafe-background);
    }
    
    &.very-plus-text {
      color: var(--fat-datatable-very-plus-color);
    }
    &.just-plus-text {
      color: var(--fat-datatable-just-plus-color);
    }
    &.safe-text {
      color: var(--fat-datatable-safe-color);
    }
    &.just-unsafe-text {
      color: var(--fat-datatable-just-unsafe-color);
    }
    &.very-unsafe-text {
      color: var(--fat-datatable-very-unsafe-color);
    }
    &.extremely-unsafe-text {
      color: var(--fat-datatable-extremely-unsafe-color);
    } 
  }
}

.DataTableRow.fixed {
  display: flex;

  .cell {
    flex: 1 0 0;
    &.move-name {
      flex: 4 0 0;
      max-width: 200px;
      @media (max-width: 768px) {
        flex-grow: 3;
      }
    }
  }
}

.DataTableRow.xScroll {

  max-height: 300px;
    .cell {  
      
      min-width: 120px;
      @media (max-width: 768px) {
        min-width: 100px;
        padding: 7px 8px;
      }
  
      &.move-name {
        min-width: 200px;
        position: sticky;
        left: 0;
        @media (max-width: 768px) {
          min-width: 0;
          
        }
      }

      &.compact {
        max-width: 120px;
      }
      // TODO: EXTRA INFO
    }
  }
  
  