.noSearchResultsWarning {
  display: flex;
  flex-direction: column;
  background: var(--fat-card-bg);
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 415px;
  margin: 20px auto 0;
  padding: 7px 16px 20px;
  width: 90%;
  border-radius: 6px;
  span {
    font-size: 18px;
    text-decoration: underline;
    color: var(--fat-primary-shade-step-300);
    cursor: pointer;
  }
}

.DataTable {
  height: calc(100vh - 56px);
  &.ios {
    height: calc(100vh - 52px - env(safe-area-inset-top));
  }
  thead {
    display: contents;
  }
}
.DataTable.fixed {
  table {
    display: flex;
    flex-direction: column;
    tbody {
      display: contents;
    }
  }
}

.DataTable.xScroll {
  overflow-x: scroll;
  display: flex;

  table {
    border-collapse: separate;
    flex: 1 auto;
    max-height: 300px; // for the specific case where the table is filtered and the cells grow huge. Doesn't actually set the table height at 300px. Don't know!

    tbody>tr.section-header>td {
      position: sticky;
      left: 0;
      font-size: 35px;
      font-weight: initial;
      padding: 20px;
    }
  }
}