.DataTableRow.DataTableHeader {
  top: 0;
  z-index: 2;
  position: sticky;
  cursor: pointer;

  &:last-child {
    bottom: 0;
    border-bottom: var(--safe-area-inset-bottom) solid var(--fat-datatable-bottom-sticky-header-border);
  }



  > th.cell {
    color: var(--fat-datatable-header-contrast);
    background-color: var(--fat-datatable-header-bg) !important;
    border-bottom: none;

    max-height: 44px;
    overflow: hidden;

    &.move-name {
      border-right-color: var(--fat-primary);
    }
  }

}

.DataTableRow.DataTableHeader.xScroll {  
  th.cell {
    word-break: keep-all;
    white-space: nowrap;
  
    &.move-name {
      left: 0;
      z-index: 3;
    }
  }
}