#frameDataSubHeader {
	width: 85%;
	max-width: 1000px;
	margin: 20px auto 15px;
	min-width: 870px;

	.character-portrait-container {
		border: solid var(--fat-primary-shade-extreme) 3px;
    border-radius: 9px;
		padding: 0;
		width: 110px !important;
		max-width: 110px !important;
		cursor: pointer;
		
		.character-block {
			margin: 0;
			border: solid var(--fat-surface) 1px;
			border-radius: 7px;

			img {
				border-radius: 7px;
			}
		}
	}

	.character-bio {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 26px;
		margin: 10px 0 0 16px;
		padding: 0;
		span {
			margin-left: 4px;
			opacity: 0.45;
		}
		.bio-options {
			display: flex;
			flex-direction: row;

			.bio-switcher {
				display: flex;
				flex-direction: row;
				align-items: center;
				cursor: pointer;
				ion-icon {
					transform: scaleX(1.5);
					margin: 0 16px 0 0;
					color: var(--fat-primary-shade-extreme);
				}
				.character-portrait-container {
					width: 55px !important;
					.character-block img:not(.silouette){
						filter: grayscale(0.7);
					}
				}
			}

			.state-changer > ion-segment {
				border-left: 1px solid var(--fat-frame-data-sub-header-stats-border);
				margin-left: 30px;
				padding-left: 8px;
				width: 100%;
			}
		}
		
	}

	.stat-row {
		background-color: var(--fat-frame-data-sub-header-stats-bg);
		border-radius: 6px;
		margin: 4px 0;
		padding: 18px 0;
		align-items: center;

		.stat-entry {
			text-align: center;
			border-right: 1px solid var(--fat-frame-data-sub-header-stats-border);

			&:last-of-type {
				border: none;
			}

			h2 {
				margin: 0;
				font-size: 20px;
				font-weight: bold;
				color: var( --fat-frame-data-sub-header-stats-contrast);
			}
			p {
				margin: 0;
				font-size: 13px;
				color: var( --fat-frame-data-sub-header-stats-contrast);
			}
		}
	}
}

@media (max-width: 991px) {
  #frameDataSubHeader {
    display: none;
  }
}