#LandscapeOptions {
  --backdrop-opacity: 0.5;

  p {
    font-style: italic;
    text-align: center;
    margin: 18px 20px 10px;
    border-bottom: 1px solid var(--fat-ionlist-border);
    padding-bottom: 10px;
  }

  .quickset-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px 2px;
    margin: 10px auto;
    max-width: 400px;
    ion-button {
      --background: var(--fat-datatable-header-bg);
      color: #ffffff;
      text-transform: none;
    }
  }
  
  .list-section {
    ion-item-divider.md.item {
      font-size: 15px;
      color: var(--fat-ionlist-header);
      border-color: var(--fat-ionlist-border);
    }
    ion-item-divider.ios.item {
      --background: var(--fat-ionlist-thick-header);
      color: var(--fat-ionlist-header);
    }
    ion-item {
      --border-color: var(--fat-ionlist-border);
      &:last-child {
        --border-style: none;
        &.md {
          margin-bottom: 15px;
        }
      }
    }
    ion-checkbox {
      --checkbox-background-checked: var(--fat-checkbox-checked);
      --border-color-checked: var(--fat-checkbox-checked);
      --border-color: var(--fat-primary);
    }

    &:last-child {
      ion-item:last-child {
        &.md {
          margin-bottom: 0px;
        }
      }
    }
  }
  @media only screen and (min-width: 600px) and (min-height: 768px) {
    --width: 535px;
    --height: 90%;
  }

}
