#sideMenu {
  &.wide-full-menu {
    --side-width: 280px;
  }
  &.wide-partial-menu {
    --side-width: 80px;
  }
  --side-min-width: 0;
  --side-max-width: 280px;
  border:none;
  transition: width 0.25s cubic-bezier(0.3, 0, 0, 0.8);

  #menuHeader {
    display: grid;
    grid-template-areas:
      ".        theme   " 
      "logo     .       " 
      "quickset quickset";
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto 1fr;
    padding-top: calc(12px + env(safe-area-inset-top, 0));
    padding-left: calc(17px + env(safe-area-inset-left, 0));
    padding-right: 11px;
    padding-bottom: 12px;
    background-color: var(--fat-menu-top);

    .button-container {
      grid-area: theme;
      align-self: start;
      justify-self: end;
      display: flex;
      gap: 8px;
    }

    .header-fab {
      position: relative;
      overflow: hidden;
      grid-area: theme;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      font-size: 20px;
      background-color: var(--fat-menu-top-lightswitch);
      color: var(--fat-primary-contrast);
      border-radius: 100%;
      cursor: pointer;
    }

    .app-details {
      grid-area: logo;
      align-self: end;
      justify-self: start;
      h2 {
        font-size: 24px;
        color: var(--fat-menu-top-h2);
        margin: 0;
      }
      p {
        font-size: 18px;
        color: var(--fat-menu-top-p);
        margin: 0;
      }
      ion-icon {
        vertical-align: text-top;
      }
    }

    .quick-set-bar {
      grid-area: quickset;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 13px auto 0;
      border-radius: 17px;
  
      .quick-set-section {
        flex: 1 1 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background-color: var(--fat-menu-quick-set-background);
        color: var(--fat-menu-quick-set-contrast);
        padding: 7px 0;
        font-size: 15px;
        cursor: pointer;

        &:not(:last-of-type) {
          border-right: 1px solid var(--fat-menu-quick-set-border);
        }
      }
    }
  }

  #widescreenMenu {
    background-color: var(--fat-wide-menu-background);
    ion-grid {
      padding: 0;

      // ios height fix
      &.ios .widescreen-menu-entry.widescreen-menu-button {
        padding-top: env(safe-area-inset-top);
        height: calc(52px + env(safe-area-inset-top));
      }

      .widescreen-menu-entry {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 21px;

        padding: 12px 0 12px 25px;
        margin: 5px 20px 0 0;
        border-radius: 0 50px 50px 0;
        transition:
          margin-right 0.25s,
          border-radius 0.25s;

        cursor: pointer;

        &.active-mode {
          background-color: #ffffff20;
        }
        &.menu-collapsed {
          margin-right: 0;
          border-radius: 0;
        }
        &.disabled {
          ion-icon, span {
            color: #ffffff3b !important;
          }
        }
        &.widescreen-menu-header {
          background-color: var(--ion-toolbar-background);
          margin: 0;
          padding-left: 17px;
          border-radius: 0;
          height: calc(56px + env(safe-area-inset-top));
          padding-top: calc(13px + env(safe-area-inset-top));
          position: sticky;
          top: 0;
          z-index: 10;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          &.ios {
            height: calc(43px + env(safe-area-inset-top));
          }

          ion-button {
            padding: 0;
            margin: 0;
            --box-shadow: none;
            --background: none;
          }
        }

        ion-icon {
          font-size: 25px;
          transition: color 0.25s cubic-bezier(0.3, 0, 0, 0.8);
          color: #ffffffda;
          flex-shrink: 0;
          &.dimmed-color {
            color: #ffffff81;
          }
        }
        > span {
          color: white;
          flex-shrink: 0;
          animation: slideIn 0.25s ease-in-out;
        }

        ion-ripple-effect {
          color: #ffffffa8;
        }
      }
    }
  }
}

ion-menu {
  --ion-background-color: var(--fat-menu-background);

  hr {
    background-color: #ffffff52;
    margin: 8px 10px;
    height: 1px;
  }

  &.md {
    ion-list {
      padding: 10px 0px 20px;
    }

    ion-list-header {
      padding-left: 10px;
    }
    ion-item {
      --transition: none;
      --padding-start: 18px;
      margin-right: 10px;
      border-radius: 0 50px 50px 0;
      font-weight: 500;

      ion-icon {
        color: var(--fat-menu-icon);
      }

      &.selected {
        --background: var(--fat-menu-selected-item-bg);
        color: var(--fat-menu-selected-item-contrast);
        ion-icon {
          color: var(--fat-menu-selected-item-contrast);
        }
      }
    }
  }
  &.ios {
    ion-content {
      --padding-bottom: 20px;
    }

    ion-list {
      padding: 5px 0 0 0;
    }

    ion-item {
      --transition: none;
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 53px;

      ion-icon {
        font-size: 24px;
        color: var(--fat-menu-icon);
      }

      &.selected {
        --color: var(--fat-menu-selected-item-ios);
        ion-icon {
          color: var(--fat-menu-selected-item-ios);
        }
      }
    }
  }
}


@media (min-width: 992px) {
  ion-menu ion-content {
    --background: var(--fat-wide-menu-background);;
  }
  #mobileSideMenu {
    display: none !important;
  }
}

@media (max-width: 991px) {
  #widescreenMenu {
    display: none !important;
  }
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}