#threeDotPopover {
  --width: 200px;
  ion-list {
    background: var(--fat-popover-bg);
    ion-item {
      --background: var(--fat-popover-bg);
      color: var(--fat-popover-contrast);
    }
  }
}
