.segment-switcher {
  &.ios {
    margin: 7px auto;
    &.active-player, &.link-or-cancel, &.recovery-type {
      width: 70%;
      --background: var(--fat-switcher-primary-ios-background);
      ion-segment-button {
        --indicator-color: var(--fat-switcher-primary-ios-checked);
      }
    }
    &.vtrigger {
      width: 85%;
      --background: var(--fat-switcher-vtrigger-ios-background);
      ion-segment-button {
        --indicator-color: var(--fat-switcher-vtrigger-ios-checked);
      }
    }
  }

  &.md {
    --background: var(--fat-switcher-android-background);
  }
  &.active-player, &.link-or-cancel, &.recovery-type {
    ion-segment-button {
      &.md {
        --background-hover: var(--fat-switcher-primary-checked-contrast);
        --color-checked: var(--fat-switcher-primary-checked-contrast);
        --color: var(--fat-switcher-unchecked-contrast);
        --indicator-color: var(--fat-switcher-primary-checked-contrast);
        --indicator-height: 2px;
      }
    }
  }
  &.vtrigger {
    ion-segment-button {
    
      &.md {
        --background-hover: var(--fat-switcher-vtrigger-checked-contrast);
        --color-checked: var(--fat-switcher-vtrigger-checked-contrast);
        --color: var(--fat-switcher-unchecked-contrast);
        --indicator-color: var(--fat-switcher-vtrigger-checked-contrast);
        --indicator-height: 2px;
      }
    }
  }

  @media screen and (min-width: 576px) {
    &.ios {
      max-width: 400px;
    }
    &.md {
      max-width: 500px;
      margin: 0 auto;
      &:last-of-type {
        margin-bottom: 4px;
      }
    }
  }

  @media screen and (min-width: 992px) {
    &.md {
      display: inline-block;
      width: auto;
      margin-bottom: 5px;

      ion-segment-button.md {
        margin: 0 5px;
        --indicator-height: 3px;
        text-transform: none;
        display: inline-block;
      }
    }

    @at-root {
      #frameData .segments.md, #movesList .segments.md, #combos .segments.md {
        width: 82%;
        margin: 0 auto;
        display: flex;
      }
      #characterSelect .segments.md {
        margin: 0 auto;
        display: flex;
      }
    }
  }
}
