#TableSettings {
  --backdrop-opacity: 0.5;
  ion-content {
    --padding-bottom: calc(140px + env(safe-area-inset-bottom));
  }
  table {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    display: block;
    overflow: scroll;
    z-index: 10000;
    background-color: var(--fat-background);
    box-shadow: 0px -1px 10px #00000069;
  }

  h5 {
    color: var(--fat-frame-data-sub-header-stats-contrast);
    font-weight: 900;
    padding: 0 14px;
    margin: 33px 0 0;
    &:first-of-type {
      margin-top: 14px;
    }
  }

  .custom-setting-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid var(--fat-settings-item-border);
    cursor: pointer;
    &:hover{
      background-color: var(--fat-settings-item-hover);
    }

    &.no-lines {
      border: none;
    }

    &.sub-item {
      border-left: 10px solid var(--fat-settings-item-border);
      animation: slide-in 0.4s ease;
      .explainer {
        max-width: 385px;
      }
    }

    .explainer {
      width: 85%;
      max-width: 400px;
      h2 {
        font-size: 16px;
      }
      p {
        color: var(--fat-ionlabel-p);
        font-size: 13px;
      }
      ul {
        padding: 0 0 0 17px;
        font-size: 13px;
      }
    }

    &.dropdown {
      .explainer {
        width: 72%;
      }
      ion-select {
        width: auto;
        &.select-disabled {
          opacity: 1;
        }
      }
    }



  }

  @media only screen and (min-width: 600px) and (min-height: 768px) {
    --width: 535px;
    --height: 90%;
  }

}