#whatsNew {
  ion-grid {
    padding: 0 0 60px;
  }
  h3 {
    text-align: center;
    color: var(--fat-whatsnew-header);
    font-weight: 600;
  }
  h6 {
    text-align: center;
    margin: 0 0 24px;
    line-height: 0;
    color: var(--fat-whatsnew-header);
  }

  h5 {
    font-size: 17px;
    margin: 0 0 3px 15px;
    font-weight: 600;
    &.feature {
      color: var(--fat-whatsnew-feature);
    }
    &.bug {
      color: var(--fat-whatsnew-bug);
    }
    &.bluesky {
      color: var(--fat-whatsnew-header);
    }
  }

  ul {
    margin: 0 0 25px;
    padding-left: 29px;
  }
  li {
    line-height: 21px;
    font-size: 15px;
    margin: 0 15px 3px 0;
  }

  .chunky-button {
    position: fixed;
    bottom: 30px;
    left: 10px;
    right: 10px;
    width: 80%;
  }
}
