ion-app.purple-dark-theme, .themePreview.purple-dark-theme {

  /**-------------**/
  /** ion changes **/
  /**-------------**/
  --ion-color-primary: #9f87f6;
  --ion-color-success: #3f6336;

  /**-----------**/
  /** Variables **/
  /**-----------**/


  --fat-primary: #504292;

  --fat-primary-shade-step-50: #4d408c;
	--fat-primary-shade-step-100: #4a3d85;
	--fat-primary-shade-step-150: #473b7f;
	--fat-primary-shade-step-200: #443878;
	--fat-primary-shade-step-250: #413672;
	--fat-primary-shade-step-300: #3d346c;
	--fat-primary-shade-step-350: #3a3165;
	--fat-primary-shade-step-400: #372f5f;
	--fat-primary-shade-step-450: #342c58;
	--fat-primary-shade-step-500: #312a52;
	--fat-primary-shade-step-550: #2e284c;
	--fat-primary-shade-step-600: #2b2545;
	--fat-primary-shade-step-650: #28233f;
	--fat-primary-shade-step-700: #252038;
	--fat-primary-shade-step-750: #221e32;
	--fat-primary-shade-step-800: #1e1c2c;
	--fat-primary-shade-step-850: #1b1925;
	--fat-primary-shade-step-900: #18171f;
	--fat-primary-shade-step-950: #151418;

  --fat-primary-tint-step-50: #ac95ff;
	--fat-primary-tint-step-100: #917bdf;
	--fat-primary-tint-step-150: #8a75d4;
	--fat-primary-tint-step-200: #8370c8;
	--fat-primary-tint-step-250: #7c6abd;
	--fat-primary-tint-step-300: #7564b2;
	--fat-primary-tint-step-350: #6e5ea6;
	--fat-primary-tint-step-400: #67589b;
	--fat-primary-tint-step-450: #60528f;
	--fat-primary-tint-step-500: #594d84;
	--fat-primary-tint-step-550: #514779;
	--fat-primary-tint-step-600: #4a416d;
	--fat-primary-tint-step-650: #433b62;
	--fat-primary-tint-step-700: #3c3556;
	--fat-primary-tint-step-750: #352f4b;
	--fat-primary-tint-step-800: #2e2940;
	--fat-primary-tint-step-850: #272434;
	--fat-primary-tint-step-900: #201e29;
	--fat-primary-tint-step-950: #19181d;

  --fat-primary-contrast: #ffffff;

  --fat-vtrigger: #b43a1f;
  --fat-vtrigger-shade: #b43a1f;
  --fat-vtrigger-tint: #231111;
  --fat-vtrigger-contrast: #ffffff;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/

  --fat-a: #d0b6ff;
  --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-active-button: #ae92fa;
  --fat-ionalert-confirm-buttons: #c8b8f5;

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  --fat-card-header-bg: #373737;
  --fat-card-header-contrast: #baa1ff;
  --fat-card-bg: #1f1f1f;
  --fat-card-border: #303030;
  --fat-card-p: #ffffff;

  // Switcher
  --fat-switcher-background: #1f1f1f;
  --fat-switcher-unchecked-contrast: #ffffff90;
  --fat-switcher-primary-checked-contrast: #b094f1;;
  --fat-switcher-vtrigger-checked-contrast: #e6745b;
  --fat-switcher-android-background: #121212;
  --fat-switcher-primary-ios-background: #1f1831;
  --fat-switcher-primary-ios-checked: #362264;
  --fat-switcher-vtrigger-ios-background: #351b17;
  --fat-switcher-vtrigger-ios-checked: #642222;

  // Toggle
  --fat-toggle-handle-background: #7f7f7f;
  --fat-toggle-background-checked: rgba(158, 127, 230, 0.5);
  --fat-toggle-handle-background-checked: #b094f1;

  // IonList
  --fat-ionlist-header: #c7aff4;
  --fat-ionlist-thick-header: #373737;
  --fat-ionlist-thick-header-contrast: #ae87f6;
  --fat-ionlist-border: #3e3e3e;
  --fat-ionlist-label-p: #c8c8c8;
  --fat-ionlist-icon: #d6d6d6;
  --fat-ionlist-highlighted-background: #1a142f;
  --fat-ionlist-highlighted-contrast: #ae87f6;
  --fat-ionlist-sublist-header-background: var(--fat-surface);
  --fat-checkbox-checked: #2a0f75;
  --fat-meter-full: #8771d5;
  --fat-meter-empty: #878787;

  // FAT UI
  --fat-header: var(--fat-primary-tint-step-50);

  // Markdown
  --fat-markdown-h125: #bf9ffc;
  --fat-markdown-h3: #aaa4f7;
  --fat-markdown-h4: var(--assertive);
  --fat-markdown-h6: #ff8080;
  --fat-markdown-b: #ae87f6;
  --fat-markdown-hr: #968bbe;

  // Menu
  --fat-menu-top: #2e1e62;
  --fat-menu-top-h2: var(--fat-primary-contrast);
  --fat-menu-top-p: #bdaaeb;
  --fat-menu-top-lightswitch: #3e3081;
  --fat-menu-background: #1e1e1e;
  --fat-menu-background-contrast: #ffffff;
  --fat-menu-icon: #acacac;
  --fat-menu-selected-item-bg: #231e37;
  --fat-menu-selected-item-contrast: #e2d5fc;
  
  // Wide Menu
  --fat-wide-menu-background: #231e37;

  // Frame Data
  --fat-datatable-header-bg: #251c4e;
  --fat-datatable-header-contrast: #ffffff;
  --fat-datatable-hover-border: #28224b;

  // Character Select & Portrait
  --fat-silouette-filter: brightness(0) saturate(100%) invert(7%) sepia(80%) saturate(2855%) hue-rotate(245deg) brightness(90%) contrast(91%);

  // Stat Compare
  --fat-statcompare-big-header: #ae87f6;

  // Fab
  --fat-fab-background: #330f75;;
  --fat-fab-inner: #ffffff;

  // What's New
  --fat-whatsnew-header: #ae87f6;
  --fat-whatsnew-feature: #4ec27d;
  --fat-whatsnew-bug: #ff4d4d;
 }