ion-app.red-dark-theme, .themePreview.red-dark-theme {

  /**-------------**/
  /** ion changes **/
  /**-------------**/
  --ion-color-primary: #ff6666;
  --ion-color-success: #3f6336;

  /**-----------**/
  /** Variables **/
  /**-----------**/

  --fat-primary: #893f3f;

  --fat-primary-shade-step-50: #833d3d;
	--fat-primary-shade-step-100: #7d3b3b;
	--fat-primary-shade-step-150: #773838;
	--fat-primary-shade-step-200: #713636;
	--fat-primary-shade-step-250: #6b3434;
	--fat-primary-shade-step-300: #653131;
	--fat-primary-shade-step-350: #5f2f2f;
	--fat-primary-shade-step-400: #592d2d;
	--fat-primary-shade-step-450: #532b2b;
	--fat-primary-shade-step-500: #4e2929;
	--fat-primary-shade-step-550: #482626;
	--fat-primary-shade-step-600: #422424;
	--fat-primary-shade-step-650: #3c2222;
	--fat-primary-shade-step-700: #362020;
	--fat-primary-shade-step-750: #301d1d;
	--fat-primary-shade-step-800: #2a1b1b;
	--fat-primary-shade-step-850: #241919;
	--fat-primary-shade-step-900: #1e1717;
	--fat-primary-shade-step-950: #181414;

  --fat-primary-tint-step-50: #ff7373;
	--fat-primary-tint-step-100: #e75e5e;
	--fat-primary-tint-step-150: #db5959;
	--fat-primary-tint-step-200: #d05555;
	--fat-primary-tint-step-250: #c45151;
	--fat-primary-tint-step-300: #b84d4d;
	--fat-primary-tint-step-350: #ac4949;
	--fat-primary-tint-step-400: #a04444;
	--fat-primary-tint-step-450: #944040;
	--fat-primary-tint-step-500: #893c3c;
	--fat-primary-tint-step-550: #7d3838;
	--fat-primary-tint-step-600: #713434;
	--fat-primary-tint-step-650: #652f2f;
	--fat-primary-tint-step-700: #592b2b;
	--fat-primary-tint-step-750: #4d2727;
	--fat-primary-tint-step-800: #412323;
	--fat-primary-tint-step-850: #361f1f;
	--fat-primary-tint-step-900: #2a1a1a;
	--fat-primary-tint-step-950: #1e1616;

  --fat-primary-contrast: #ffffff;

  --fat-vtrigger: #39719a;
  --fat-vtrigger-shade: #39719a;
  --fat-vtrigger-tint: #231111;
  --fat-vtrigger-contrast: #ffffff;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-active-button: #f68787;
  --fat-ionalert-confirm-buttons: #f68787;

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  --fat-card-header-bg: #461717;
  --fat-card-header-contrast: #ffc6c6;
  --fat-card-bg: #1f1f1f;
  --fat-card-border: #303030;
  --fat-card-p: #ffffff;

  // Switcher
  --fat-switcher-background: #1f1f1f;
  --fat-switcher-unchecked-contrast: #ffffff90;
  --fat-switcher-primary-checked-contrast: #ff9f9f;;
  --fat-switcher-vtrigger-checked-contrast: #56bdbd;
  --fat-switcher-android-background: #121212;
  --fat-switcher-primary-ios-background: #351717;
  --fat-switcher-primary-ios-checked: #642222;
  --fat-switcher-vtrigger-ios-background: #182731;
  --fat-switcher-vtrigger-ios-checked: #224964;

  // Toggle
  --fat-toggle-handle-background: #7f7f7f;
  --fat-toggle-background-checked: rgb(226, 66, 66, 0.5);
  --fat-toggle-handle-background-checked: #e24242;

  // IonList
  --fat-ionlist-header: #ff9e9e;
  --fat-ionlist-thick-header: #373737;
  --fat-ionlist-thick-header-contrast: #f68787;
  --fat-ionlist-border: #3e3e3e;
  --fat-ionlist-label-p: #c8c8c8;
  --fat-ionlist-icon: #d6d6d6;
  --fat-ionlist-highlighted-background: #2f1414;
  --fat-ionlist-highlighted-contrast: #f68787;
  --fat-ionlist-sublist-header-background: var(--fat-surface);
  --fat-checkbox-checked: #750f0f;
  --fat-meter-full: #d57171;
  --fat-meter-empty: #878787;

  // FAT UI
  --fat-header: var(--fat-primary-tint-step-50);

  // Markdown
  --fat-markdown-h125: #f68787;
  --fat-markdown-h3: #f7a4a4;
  --fat-markdown-h4: var(--assertive);
  --fat-markdown-h6: #ff8080;
  --fat-markdown-b: #f68787;
  --fat-markdown-hr: #be8b8b;
  
  // Menu
  --fat-menu-top: #5e1515;
  --fat-menu-top-h2: var(--fat-primary-contrast);
  --fat-menu-top-p: #ffa7a7;
  --fat-menu-top-lightswitch: #813030;
  --fat-menu-background: #1e1e1e;
  --fat-menu-background-contrast: #ffffff;
  --fat-menu-icon: #acacac;
  --fat-menu-selected-item-bg: #461717;
  --fat-menu-selected-item-contrast: #fcd5d5;
   
  // Wide Menu
  --fat-wide-menu-background: #461717;

  // Frame Data
  --fat-datatable-header-bg: #5a1414;
  --fat-datatable-header-contrast: #ffffff;
  --fat-datatable-hover-border: #532020;

  // Character Select & Portrait
  --fat-silouette-filter: brightness(0) saturate(100%) invert(6%) sepia(68%) saturate(5591%) hue-rotate(350deg) brightness(94%) contrast(98%);

  // Stat Compare
  --fat-statcompare-big-header: var(--fat-ionlist-thick-header-contrast);

  // Fab
  --fat-fab-background: #750f0f;;
  --fat-fab-inner: #ffffff;

  // What's New
  --fat-whatsnew-header: #f68787;
  --fat-whatsnew-feature: #4ec27d;
  --fat-whatsnew-bug: #ff4d4d;
 }