ion-app.green-dark-theme, .themePreview.green-dark-theme {

  /**-------------**/
  /** ion changes **/
  /**-------------**/
  --ion-color-primary: #87f690;
  --ion-color-success: #3f6336;

  /**-----------**/
  /** Variables **/
  /**-----------**/


  --fat-primary: #429242;

  --fat-primary-shade-step-50: #408c40;
	--fat-primary-shade-step-100: #3d853d;
	--fat-primary-shade-step-150: #3#b7f3b;
	--fat-primary-shade-step-200: #387838;
	--fat-primary-shade-step-250: #367236;
	--fat-primary-shade-step-300: #346c34;
	--fat-primary-shade-step-350: #316531;
	--fat-primary-shade-step-400: #2f5f2f;
	--fat-primary-shade-step-450: #2c582c;
	--fat-primary-shade-step-500: #2a522a;
	--fat-primary-shade-step-550: #284c28;
	--fat-primary-shade-step-600: #254525;
	--fat-primary-shade-step-650: #233f23;
	--fat-primary-shade-step-700: #203820;
	--fat-primary-shade-step-750: #1e321e;
	--fat-primary-shade-step-800: #1c2c1c;
	--fat-primary-shade-step-850: #192519;
	--fat-primary-shade-step-900: #171f17;
	--fat-primary-shade-step-950: #141814;

  --fat-primary-tint-step-50: #81f88b;
	--fat-primary-tint-step-100: #7bdf83;
	--fat-primary-tint-step-150: #75d47d;
	--fat-primary-tint-step-200: #70c877;
	--fat-primary-tint-step-250: #6abd71;
	--fat-primary-tint-step-300: #64b26a;
	--fat-primary-tint-step-350: #5ea664;
	--fat-primary-tint-step-400: #589b5e;
	--fat-primary-tint-step-450: #528f57;
	--fat-primary-tint-step-500: #4d8451;
	--fat-primary-tint-step-550: #47794b;
	--fat-primary-tint-step-600: #416d44;
	--fat-primary-tint-step-650: #3b623e;
	--fat-primary-tint-step-700: #355638;
	--fat-primary-tint-step-750: #2f4b32;
	--fat-primary-tint-step-800: #29402b;
	--fat-primary-tint-step-850: #243425;
	--fat-primary-tint-step-900: #1e291f;
	--fat-primary-tint-step-950: #181d18;

  --fat-primary-contrast: #ffffff;

  --fat-vtrigger: #84248c;
  --fat-vtrigger-shade: #84248c;
  --fat-vtrigger-tint: #152311;
  --fat-vtrigger-contrast: #ffffff;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/

  --fat-a: #b6ffb6;
  --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-active-button: #59c267;
  --fat-ionalert-confirm-buttons: #5fd86f;

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  --fat-card-header-bg: #373737;
  --fat-card-header-contrast: #4fd456;
  --fat-card-bg: #1f1f1f;
  --fat-card-border: #303030;
  --fat-card-p: #ffffff;

  // Switcher
  --fat-switcher-background: #1f1f1f;
  --fat-switcher-unchecked-contrast: #ffffff90;
  --fat-switcher-primary-checked-contrast: #58d35e;
  --fat-switcher-vtrigger-checked-contrast: #cc75d4;
  --fat-switcher-android-background: #121212;
  --fat-switcher-primary-ios-background: #122713;
  --fat-switcher-primary-ios-checked: #22642d;
  --fat-switcher-vtrigger-ios-background: #351735;
  --fat-switcher-vtrigger-ios-checked: #5e2264;

  // Toggle
  --fat-toggle-handle-background: #7f7f7f;
  --fat-toggle-background-checked: rgba(127, 230, 144, 0.5);
  --fat-toggle-handle-background-checked: #97f194;

  // IonList
  --fat-ionlist-header: #99ffaa;
  --fat-ionlist-thick-header: #373737;
  --fat-ionlist-thick-header-contrast: #82d882;
  --fat-ionlist-border: #3e3e3e;
  --fat-ionlist-label-p: #c8c8c8;
  --fat-ionlist-icon: #d6d6d6;
  --fat-ionlist-highlighted-background: #152f14;
  --fat-ionlist-highlighted-contrast: #87f687;
  --fat-ionlist-sublist-header-background: var(--fat-surface);
  --fat-checkbox-checked: #0f7517;
  --fat-meter-full: #4a914e;
  --fat-meter-empty: #878787;

  // FAT UI
  --fat-header: var(--fat-primary-tint-step-50);

  // Markdown
  --fat-markdown-h125: #9ffca7;
  --fat-markdown-h3: #a4f7a8;
  --fat-markdown-h4: var(--assertive);
  --fat-markdown-h6: #ff8080;
  --fat-markdown-b: #87f68d;
  --fat-markdown-hr: #8bbe8e;

  // Menu
  --fat-menu-top: #21552b;
  --fat-menu-top-h2: var(--fat-primary-contrast);
  --fat-menu-top-p: #aaebaa;
  --fat-menu-top-lightswitch: var(--fat-primary-shade-step-300);
  --fat-menu-background: #1e1e1e;
  --fat-menu-background-contrast: #ffffff;
  --fat-menu-icon: #acacac;
  --fat-menu-selected-item-bg: #184020;
  --fat-menu-selected-item-contrast: #e1ffe7;
  
  // Wide Menu
  --fat-wide-menu-background: #142e19;

  // Frame Data
  --fat-datatable-header-bg: #1c4e1c;
  --fat-datatable-header-contrast: #ffffff;
  --fat-datatable-hover-border: #224b25;

  // Character Select & Portrait
  --fat-silouette-filter: brightness(0) saturate(100%) invert(12%) sepia(31%) saturate(1150%) hue-rotate(70deg) brightness(99%) contrast(93%);

  // Fab
  --fat-fab-background: #0f750f;;
  --fat-fab-inner: #ffffff;

  // What's New
  --fat-whatsnew-header: #87f690;
  --fat-whatsnew-feature: #4ec27d;
  --fat-whatsnew-bug: #ff4d4d;
 }