ion-app.pink-dark-theme, .themePreview.pink-dark-theme {

  /**-------------**/
  /** ion changes **/
  /**-------------**/
  --ion-color-primary: #f687e7;
  --ion-color-success: #3f6336;

  /**-----------**/
  /** Variables **/
  /**-----------**/


  --fat-primary: #92428e;

  --fat-primary-tint-step-50: #f994f4;
	--fat-primary-tint-step-100: #dd7ad9;
	--fat-primary-tint-step-150: #d173cd;
	--fat-primary-tint-step-200: #c56cc1;
	--fat-primary-tint-step-250: #b965b5;
	--fat-primary-tint-step-300: #ac5fa9;
	--fat-primary-tint-step-350: #a0589d;
	--fat-primary-tint-step-400: #945191;
	--fat-primary-tint-step-450: #874a85;
	--fat-primary-tint-step-500: #7b4479;
	--fat-primary-tint-step-550: #6f3d6c;
	--fat-primary-tint-step-600: #623660;
	--fat-primary-tint-step-650: #562f54;
	--fat-primary-tint-step-700: #4a2948;
	--fat-primary-tint-step-750: #3e223c;
	--fat-primary-tint-step-800: #311b30;
	--fat-primary-tint-step-850: #251424;
	--fat-primary-tint-step-900: #190d18;
	--fat-primary-tint-step-950: #0c070c;

  --fat-primary-shade-step-50: #8b3f87;
	--fat-primary-shade-step-100: #833b80;
	--fat-primary-shade-step-150: #7c3879;
	--fat-primary-shade-step-200: #753572;
	--fat-primary-shade-step-250: #6e326b;
	--fat-primary-shade-step-300: #662e63;
	--fat-primary-shade-step-350: #5f2b5c;
	--fat-primary-shade-step-400: #582855;
	--fat-primary-shade-step-450: #50244e;
	--fat-primary-shade-step-500: #492147;
	--fat-primary-shade-step-550: #421e40;
	--fat-primary-shade-step-600: #3a1a39;
	--fat-primary-shade-step-650: #331732;
	--fat-primary-shade-step-700: #2c142b;
	--fat-primary-shade-step-750: #251124;
	--fat-primary-shade-step-800: #1d0d1c;
	--fat-primary-shade-step-850: #160a15;
	--fat-primary-shade-step-900: #0f070e;
	--fat-primary-shade-step-950: #070307;

  --fat-primary-contrast: #ffffff;

  --fat-vtrigger: #185c7a;
  --fat-vtrigger-shade: #185c7a;
  --fat-vtrigger-tint: #191123;
  --fat-vtrigger-contrast: #ffffff;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/

  --fat-a: #ffb6f9;
  --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-active-button: #fa92f5;
  --fat-ionalert-confirm-buttons: #f5b8f5;

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  --fat-card-header-bg: #373737;
  --fat-card-header-contrast: #ffa1f2;
  --fat-card-bg: #1f1f1f;
  --fat-card-border: #303030;
  --fat-card-p: #ffffff;

  // Switcher
  --fat-switcher-background: #1f1f1f;
  --fat-switcher-unchecked-contrast: #ffffff90;
  --fat-switcher-primary-checked-contrast: #f194e9;;
  --fat-switcher-vtrigger-checked-contrast: #5bbce6;
  --fat-switcher-android-background: #121212;
  --fat-switcher-primary-ios-background: #311831;
  --fat-switcher-primary-ios-checked: #943e94;
  --fat-switcher-vtrigger-ios-background: #172e35;
  --fat-switcher-vtrigger-ios-checked: #34798a;

  // Toggle
  --fat-toggle-handle-background: #7f7f7f;
  --fat-toggle-background-checked: rgba(230, 127, 221, 0.5);
  --fat-toggle-handle-background-checked: #f194e5;

  // IonList
  --fat-ionlist-header: #f8a9f4;
  --fat-ionlist-thick-header: #373737;
  --fat-ionlist-thick-header-contrast: #f687f1;
  --fat-ionlist-border: #3e3e3e;
  --fat-ionlist-label-p: #c8c8c8;
  --fat-ionlist-icon: #d6d6d6;
  --fat-ionlist-highlighted-background: #2f142e;
  --fat-ionlist-highlighted-contrast: #f687f1;
  --fat-ionlist-sublist-header-background: var(--fat-surface);
  --fat-checkbox-checked: #750f70;
  --fat-meter-full: #d571d0;
  --fat-meter-empty: #878787;

  // FAT UI
  --fat-header: var(--fat-primary-tint-step-50);

  // Markdown
  --fat-markdown-h125: #fc9ff4;
  --fat-markdown-h3: #f7a4f0;
  --fat-markdown-h4: var(--assertive);
  --fat-markdown-h6: #b780ff;
  --fat-markdown-b: #f687e7;
  --fat-markdown-hr: #be8bb7;


  // Menu
  --fat-menu-top: #571852;
  --fat-menu-top-h2: var(--fat-primary-contrast);
  --fat-menu-top-p: #ebaae2;
  --fat-menu-top-lightswitch: #813076;
  --fat-menu-background: #1e1e1e;
  --fat-menu-background-contrast: #ffffff;
  --fat-menu-icon: #acacac;
  --fat-menu-selected-item-bg: #42203f;
  --fat-menu-selected-item-contrast: #fcd5f7;
  
  // Wide Menu
  --fat-wide-menu-background: #371e35;

  // Frame Data
  --fat-datatable-header-bg: #4e1c47;
  --fat-datatable-header-contrast: #ffffff;
  --fat-datatable-hover-border: #4b2246;

  // Character Select & Portrait
  --fat-silouette-filter: brightness(0) saturate(100%) invert(9%) sepia(30%) saturate(5649%) hue-rotate(288deg) brightness(94%) contrast(87%);

  // Stat Compare
  --fat-statcompare-big-header: #f287f6;

  // Fab
  --fat-fab-background: #750f6d;;
  --fat-fab-inner: #ffffff;

  // What's New
  --fat-whatsnew-header: #f687e4;
  --fat-whatsnew-feature: #4ec27d;
  --fat-whatsnew-bug: #ff4d4d;
 }