.calculators {
  .nothing-chosen-message {
    display: flex;
    flex-direction: column;
    button {
      margin: 0 auto;
      font-size: 15px;
      color: var(--fat-a);
      text-decoration: underline;
    }
  }

  table {
    width: 90%;
    margin: 20px auto;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--fat-surface-shadow) 0px 0px 2px;
  }
  h6 {
    color: var(--fat-header);
    font-weight: 900;
    padding: 0 10px;
    margin: 15px 0 0;
  }
  ion-list {
    padding-bottom: var(--safe-area-inset-bottom);
  }

  h4 {
    text-align: center;
    margin-top: 50px;
    color: var(--fat-grey)
  }

  ion-button {
    margin: 9px auto 4px;
    display: block;
    width: fit-content;
    --background: var(--fat-primary-tint-step-100);
  }
  ion-item-divider {
    position: sticky;
    top: 0;
    background: var(--fat-ionlist-thick-header);
    padding-top: 4px;
    padding-bottom: 4px;

    p {
      font-size: 16px;
      color: var(--fat-ionlist-thick-header-contrast);
    }
  }

  ion-item {
    --transition: none;
    --border-color: var(--fat-settings-item-border);
    &.selected-move-info {
      text-align: center;
      h3 {
        color: var(--fat-ionlist-thick-header-contrast);
        font-size: 15px;
        font-style: italic;
      }
      p {
        font-size: 15px;
      }
    }
    &.color-subheader.ion-color {
      > ion-label p {
        font-size: 16px;
        font-weight: bold;
        &.success {
          color: #ffffff;
        }
        &.warn {
          color: #000000;
        }
      }
      ion-icon {
        color: #ffffff;
        &.warning-icon {
          color: #7d6000;
        }
      }
    }
  }
  ion-icon {
    color: var(--fat-ionlist-icon);
    &.ios {
      width: 25px;
      &.small-end-icon {
        width: 21px;
      }
    }
  }
  ion-select::part(label) {
    max-width: none;
  }
  ion-label {
    p {
      white-space: pre-line;
    }
    h5 {
      font-size: 16px;
    }
  }
  

}
