#FrameData {
  ion-header {
    transition: box-shadow 0.3s;
  }
  .swiper {
    @media (min-width: 992px) {
      display: none
    }
    
    background-color: var(--ion-toolbar-background);
    --swiper-theme-color: var(--fat-bullet-color);
    --swiper-pagination-bullet-inactive-color: var(--fat-bullet-inactive-color);

    //Collapse stuff
    transition: max-height 0.3s ease-in-out;
    max-height: 152px;
    &.collapsed {
      max-height: 17px;
      .swiper-wrapper > .swiper-slide {
        opacity: 0;
      }
      .swiper-toggle {
        bottom: 4px;
        .label {
          opacity: 1;
        }
      }
    }
    .swiper-pagination {
      position: initial;
    }
    .swiper-toggle {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 5px;
      right: 8px;
      bottom: 8px;
      font-size: 11px;
      z-index: 2;
      ion-icon {
        font-size: 18px;
      }
      .label {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }
    }
    padding: 0 0 7px;
    .swiper-wrapper {
      .swiper-slide {
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        padding: 1px 0 6px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .slide-card {
          // border: 1px solid var(--fat-surface-border);
          &.collapsed {
            opacity: 0;
          }
          border-radius: 7px;
          width: 90%;
          min-width: 340px;
          max-width: 500px;
          margin: 0 auto;
          text-align: center;
          background: var(--fat-slider-card-bg);
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 1px -2px, rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.09) 0px 1px 5px 0px;

          &.see-all-card {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            cursor: pointer;
          }

          .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            &:not(:last-of-type) {
              border-bottom: 1px solid var(--fat-slider-card-border);
            }
            .col {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 10px 6px;
              flex: 1 1 auto;
              &:not(:last-of-type) {
                border-right: 1px solid var(--fat-slider-card-border);
              }
              h4, h5 {
                margin: 1px 0;
                font-size: 14px;
                color: var(--fat-frame-data-sub-header-stats-contrast);
                font-weight: bold;
              }
              p {
                margin: 1px 0;
                font-size: 14px;
              }
              h4 {
                font-size: 16px;
              }
              ion-icon {
                font-size: 20px;
                color: var(--fat-frame-data-sub-header-stats-contrast);
              }
            }
          }
        }
      }
    }
  }
  
  ion-content.xScroll  {
    --padding-bottom: var(--safe-area-inset-bottom);
    --background: linear-gradient(180deg, var(--fat-background) 92%, var(--fat-datatable-bottom-sticky-header-border) 92%, var(--fat-datatable-bottom-sticky-header-border) 100%);
  }
  .hideOnWideScreen {
    display: none;
    @media (max-width: 992px) {
      display: flex
    }
  }
  .hideOnSmallScreen {
    display: none;
    @media (min-width: 992px) {
      display: flex
    }
  }

  .slideOnChange {
    animation: slideIn 0.25s ease-in-out;
  }

  ion-searchbar {
    --cancel-button-color: var(--fat-primary-contrast);
  }

  

  ion-fab {
    bottom: calc(18px + var(--safe-area-inset-bottom));
    right: 18px;
    ion-fab-button {
      --background: var(--fat-vtrigger-shade);
    }
    &.hidden {
      transform: translateY(calc(90px + var(--safe-area-inset-bottom)));
      transition: transform 0.25s ease-in-out;
    }
    &.visible {
      transform: translateY(0);
      transition: transform 0.25s ease-in-out;
    }
  }
  
  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

}