#FrameData {

  .hideOnWideScreen {
    display: none;
    @media (max-width: 992px) {
      display: flex
    }
  }
  .hideOnSmallScreen {
    display: none;
    @media (min-width: 992px) {
      display: flex
    }
  }

  .slideOnChange {
    animation: slideIn 0.25s ease-in-out;
  }

  ion-searchbar {
    --cancel-button-color: var(--fat-primary-contrast);
  }

  

  ion-fab {
    bottom: calc(18px + var(--safe-area-inset-bottom));
    right: 18px;
    ion-fab-button {
      --background: var(--fat-vtrigger-shade);
    }
    &.hidden {
      transform: translateY(calc(90px + var(--safe-area-inset-bottom)));
      transition: transform 0.25s ease-in-out;
    }
    &.visible {
      transform: translateY(0);
      transition: transform 0.25s ease-in-out;
    }
  }
  
  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

}