#movesList {
  h4 {
    text-align: center;
    margin-top: 120px;
    color: var(--fat-grey)
  }
  ion-list {
    padding-top: 0;
    padding-bottom: env(safe-area-inset-bottom);

    .list-section {
      ion-item-divider {
        position: sticky;
        top: 0;
        margin-top: -1px;
        font-size: 16px;
        color: var(--fat-ionlist-thick-header-contrast);
        border-color: var(--fat-ionlist-border);
        border-top: solid 1px var(--fat-ionlist-border);
        background: var(--fat-ionlist-thick-header);
        padding-top: 4px;
        padding-bottom: 4px;

        @media screen and (min-width: 576px) {
          border-left: 5px solid;
          &:first-child{					
            margin-top: 20px;
          }
        }
      }
      ion-item {
        --border-color: var(--fat-ionlist-border);
        ion-label {
          p {
            color: var(--fat-ionlist-label-p);
          }
        }

        &:last-child {
          --border-style: none;

          &.md {
            margin-bottom: 15px;
          }
        }
      }
      ion-checkbox {
        --background-checked: var(--fat-checkbox-checked);
        --border-color-checked: var(--fat-checkbox-checked);
      }

      &:last-child {
        ion-item:last-child {
          &.md {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

}
