#Premium {
  --padding-bottom: 60px;

  ion-item {
    border: 6px solid var(--fat-primary-shade);
    border-radius: 14px;
    max-width: 475px;
    margin: 0 auto;

  }
  p {
    line-height: 1.6;
    color: var(--ion-color-step-850);
    max-width: 475px;
    margin: 0 auto;
  }

  article {
    margin: 10px auto 0;
    max-width: 475px;

    h1 {
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 0;
      color: var(--ion-color-step-750);
    }
    hr {
      background-color: #ccc;
      height: 2px;
      width: 100%;
      margin-bottom: 0px;
    }

    p {
      margin: 8px 0;
    }
    

    section {
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      align-items: center;

      &:last-child {
        margin-bottom: 50px;
      }
    } 
  }

  ion-button {
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    --box-shadow: var(--fat-surface-shadow) 0px 5px 10px;
  }

  .modalContent {
    padding: 10px;
  }
  
}