#Settings {

  ion-list-header {
    min-height: 16px;    
    margin-top: 22px;

  }

  ion-item {
    --transition: none;
    --border-color: var(--fat-settings-item-border);
  }
  ion-icon {
    &.ios {
      width: 23px;
    }
    color: var(--fat-ionlist-icon)
  }
  ion-label > p {
    white-space: pre-line;
  }
  .final-fat {
    text-align: center;
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 45px;
  }

  hr {
    background-color: var(--fat-settings-item-border);
    height: 1px;
    margin: 0 0 0 16px;
  }

}
