.themeStore {
  ion-label {
    p {
      white-space: pre-line;
    }
  }

  .purchasable-theme-row {
    margin-bottom: 8px;
  }

  .center-in-row {
    text-align: center;
    align-self: center;
  }
}