ion-app.universal-dark-none, .themePreview.universal-dark-none {

  /**-----------**/
  /** Variables **/
  /**-----------**/
  --fat-background: #121212;
  --fat-background-contrast: #ffffff;

  --fat-surface: #121212;
  --fat-surface-shade: #252525;
  --fat-surface-tint: #191919;
  --fat-surface-border: #303030;
  --fat-surface-contrast: #ffffff;
  --fat-surface-faded: #5c5c5c;
  --fat-surface-shadow: #000000eb;

  // --fat-primary: #3f7189;
  // --fat-primary-shade: #2e86c1;
  // --fat-primary-shade-extreme: #316990;
  // --fat-primary-tint: #1c292f;
  // --fat-primary-tint-extreme: #141718;
  // --fat-primary-contrast: #ffffff;

  // --fat-vtrigger: #ab3a3a;
  // --fat-vtrigger-shade: #e00000;
  // --fat-vtrigger-tint: #231111;
  // --fat-vtrigger-contrast: #ffffff;

  --fat-success: #56a543;

  --fat-grey: #c6c6c6;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/
  --ion-background-color: var(--fat-background);
  --ion-text-color: var(--fat-background-contrast);

  --ion-toolbar-background: #1f1f1f;
  --ion-toolbar-color: #ffffff;

  // --fat-a: #b6d0ff;
  // --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-background: var(--fat-surface);
  --fat-ionalert-label: #e5e5e5;
  // --fat-ionalert-active-button: #87d2f6;
  // --fat-ionalert-confirm-buttons: #87d2f6;

  --fat-solidbutton-inner: #000000;
  --fat-solidbutton-bg-hover: var(--fat-primary-shade);

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  // --fat-card-header-bg: #373737;
  // --fat-card-header-contrast: #87d2f6;
  // --fat-card-bg: #1f1f1f;
  // --fat-card-border: #303030;
  // --fat-card-p: #ffffff;

  // Popover
  --fat-popover-bg: #373737;
  --fat-popover-contrast: #ffffff;
  --fat-portrait-border: #858585;

  // Switcher
  // --fat-switcher-background: #1f1f1f;
  // --fat-switcher-unchecked-contrast: #ffffff90;
  // --fat-switcher-primary-checked-contrast: #7fbce6;;
  // --fat-switcher-vtrigger-checked-contrast: #ff4949;
  // --fat-switcher-android-background: #121212;
  // --fat-switcher-primary-ios-background: #182731;
  // --fat-switcher-primary-ios-checked: #224964;
  // --fat-switcher-vtrigger-ios-background: #351717;
  // --fat-switcher-vtrigger-ios-checked: #642222;

  // Toggle
  // --fat-toggle-handle-background: #7f7f7f;
  // --fat-toggle-background-checked: rgb(127, 188, 230, 0.5);
  // --fat-toggle-handle-background-checked: #7fbce6;

  // IonList
  // --fat-ionlist-header: #87d2f6;
  // --fat-ionlist-thick-header: #373737;
  // --fat-ionlist-thick-header-contrast: #87d2f6;
  // --fat-ionlist-border: #3e3e3e;
  // --fat-ionlist-label-p: #c8c8c8;
  // --fat-ionlist-icon: #d6d6d6;
  // --fat-ionlist-highlighted-background: #14242f;
  // --fat-ionlist-highlighted-contrast: #87d2f6;
  // --fat-ionlist-sublist-header-background: var(--fat-surface);
  // --fat-checkbox-checked: #0f4c75;
  // --fat-meter-full: #71b5d5;
  // --fat-meter-empty: #878787;

  // Markdown
  // --fat-markdown-h125: #87d2f6;
  // --fat-markdown-h3: #a4dcf7;
  // --fat-markdown-h4: var(--assertive);
  // --fat-markdown-h6: #ff8080;
  // --fat-markdown-b: #87d2f6;
  // --fat-markdown-hr: #8badbe;

  // Page Subheader
  --fat-page-subheader-background: #1f1f1f;
  --fat-page-subheader-highlight: #ffffff20;
  --fat-page-subheader-contrast: #ffffff;
  
  // Frame Data Sub Header
  --fat-frame-data-sub-header-stats-bg: var(--fat-surface-tint);
  --fat-frame-data-sub-header-stats-contrast: #ffffff;
  --fat-frame-data-sub-header-stats-border: #ffffff40;
  
  // Menu
  // --fat-menu-top: #0f4c75;
  // --fat-menu-top-h2: var(--fat-primary-contrast);
  // --fat-menu-top-p: #7fbce6;
  // --fat-menu-top-lightswitch: var(--fat-primary-shade-extreme);
  // --fat-menu-background: #1e1e1e;
  // --fat-menu-background-contrast: #ffffff;
  // --fat-menu-icon: #acacac;
  // --fat-menu-selected-item-bg: #173346;
  // --fat-menu-selected-item-contrast: #87d2f6;

  // Wide Menu
  // --fat-wide-menu-background: #0b293d;

  // Frame Data
  // --fat-datatable-header-bg: #0d3f61;
  // --fat-datatable-header-contrast: #ffffff;
  // --fat-datatable-hover-border: #223a4b;
  
  --fat-datatable-extremely-unsafe-background: #f829ff29;
  --fat-datatable-very-unsafe-background: #ff000029;
  --fat-datatable-just-unsafe-background: #ff5e0029;
  --fat-datatable-safe-background: #ffe10029;
  --fat-datatable-just-plus-background: #12db0029;
  --fat-datatable-very-plus-background: #00bcb929;

  --fat-datatable-extremely-unsafe-color: #ff60e2;
  --fat-datatable-very-unsafe-color: #ff1d1d;
  --fat-datatable-just-unsafe-color: #ff7f48;
  --fat-datatable-safe-color: #ffdf2c;
  --fat-datatable-just-plus-color: #6aff5c;
  --fat-datatable-very-plus-color: #00d8d5;

  // Character Select & Portrait
  --fat-portrait-opacity: 0.9;
  --fat-portrait-bg: #1e1e1e;

  // Stat Compare
  --fat-stat-compare-container-bg: var(--fat-surface-tint);

  // Fab
  // --fat-fab-background: #0f4c75;;
  // --fat-fab-inner: #ffffff;

  // Settings
  --fat-settings-item-border: #424242;
  --fat-settings-icon: #d6d6d6;
  --fat-settings-item-hover: #1c1c1c;

  // What's New
  // --fat-whatsnew-header: #87d2f6;
  // --fat-whatsnew-feature: #4ec27d;
  // --fat-whatsnew-bug: #ff4d4d;
 }

ion-app.universal-dark-colorBlind, .themePreview.universal-dark-colorBlind {

  /**-----------**/
  /** Variables **/
  /**-----------**/
  --fat-background: #121212;
  --fat-background-contrast: #ffffff;

  --fat-surface: #121212;
  --fat-surface-shade: #252525;
  --fat-surface-tint: #191919;
  --fat-surface-border: #303030;
  --fat-surface-contrast: #ffffff;
  --fat-surface-faded: #5c5c5c;

  // --fat-primary: #3f7189;
  // --fat-primary-shade: #2e86c1;
  // --fat-primary-shade-extreme: #316990;
  // --fat-primary-tint: #1c292f;
  // --fat-primary-tint-extreme: #141718;
  // --fat-primary-contrast: #ffffff;

  // --fat-vtrigger: #ab3a3a;
  // --fat-vtrigger-shade: #e00000;
  // --fat-vtrigger-tint: #231111;
  // --fat-vtrigger-contrast: #ffffff;

  --fat-success: #56a543;

  --fat-grey: #c6c6c6;

  /**------------------**/
  /** Global App stuff **/
  /**------------------**/
  --ion-background-color: var(--fat-background);
  --ion-text-color: var(--fat-background-contrast);

  --ion-toolbar-background: #1f1f1f;
  --ion-toolbar-color: #ffffff;

  // --fat-a: #b6d0ff;
  // --fat-code-background: #464646;

  // Dropdown
  --fat-ionlabel-p: #dbdbdb;

  // Alert
  --fat-ionalert-background: var(--fat-surface);
  --fat-ionalert-label: #e5e5e5;
  // --fat-ionalert-active-button: #87d2f6;
  // --fat-ionalert-confirm-buttons: #87d2f6;

  --fat-solidbutton-inner: #000000;
  --fat-solidbutton-bg-hover: var(--fat-primary-shade);

  /**--------------------------**/
  /** Detailed Component stuff **/
  /**--------------------------**/

  // Card
  // --fat-card-header-bg: #373737;
  // --fat-card-header-contrast: #87d2f6;
  // --fat-card-bg: #1f1f1f;
  // --fat-card-border: #303030;
  // --fat-card-p: #ffffff;

  // Popover
  --fat-popover-bg: #373737;
  --fat-popover-contrast: #ffffff;

  // Switcher
  // --fat-switcher-background: #1f1f1f;
  // --fat-switcher-unchecked-contrast: #ffffff90;
  // --fat-switcher-primary-checked-contrast: #7fbce6;;
  --fat-switcher-vtrigger-checked-contrast: #FFC20A !important;
  // --fat-switcher-android-background: #121212;
  // --fat-switcher-primary-ios-background: #182731;
  // --fat-switcher-primary-ios-checked: #224964;
  // --fat-switcher-vtrigger-ios-background: #351717;
  // --fat-switcher-vtrigger-ios-checked: #642222;

  // Toggle
  // --fat-toggle-handle-background: #7f7f7f;
  // --fat-toggle-background-checked: rgb(127, 188, 230, 0.5);
  // --fat-toggle-handle-background-checked: #7fbce6;

  // IonList
  // --fat-ionlist-header: #87d2f6;
  // --fat-ionlist-thick-header: #373737;
  // --fat-ionlist-thick-header-contrast: #87d2f6;
  // --fat-ionlist-border: #3e3e3e;
  // --fat-ionlist-label-p: #c8c8c8;
  // --fat-ionlist-icon: #d6d6d6;
  // --fat-ionlist-highlighted-background: #14242f;
  // --fat-ionlist-highlighted-contrast: #87d2f6;
  // --fat-ionlist-sublist-header-background: var(--fat-surface);
  // --fat-checkbox-checked: #0f4c75;
  // --fat-meter-full: #71b5d5;
  // --fat-meter-empty: #878787;

  // Markdown
  // --fat-markdown-h125: #87d2f6;
  // --fat-markdown-h3: #a4dcf7;
  // --fat-markdown-h4: var(--assertive);
  // --fat-markdown-h6: #ff8080;
  // --fat-markdown-b: #87d2f6;
  // --fat-markdown-hr: #8badbe;

  // Page Subheader
  --fat-page-subheader-background: #1f1f1f;
  --fat-page-subheader-contrast: #ffffff;
  
  // Frame Data Sub Header
  --fat-frame-data-sub-header-stats-bg: var(--fat-surface-tint);
  --fat-frame-data-sub-header-stats-contrast: #ffffff;
  --fat-frame-data-sub-header-stats-border: #ffffff40;
  
  // Menu
  // --fat-menu-top: #0f4c75;
  // --fat-menu-top-h2: var(--fat-primary-contrast);
  // --fat-menu-top-p: #7fbce6;
  // --fat-menu-top-lightswitch: var(--fat-primary-shade-extreme);
  // --fat-menu-background: #1e1e1e;
  // --fat-menu-background-contrast: #ffffff;
  // --fat-menu-icon: #acacac;
  // --fat-menu-selected-item-bg: #173346;
  // --fat-menu-selected-item-contrast: #87d2f6;

  // Wide Menu
  // --fat-wide-menu-background: #0b293d;

  // Frame Data
  // --fat-datatable-header-bg: #0d3f61;
  // --fat-datatable-header-contrast: #ffffff;
  // --fat-datatable-hover-border: #223a4b;
  --fat-datatable-extremely-unsafe-background: #a79b33;
  --fat-datatable-very-unsafe-background: #8e8738;
  --fat-datatable-just-unsafe-background: #565523;
  --fat-datatable-safe-background: #3d428c;
  --fat-datatable-just-plus-background: #41406d;
  --fat-datatable-very-plus-background: #5e6389;

   // Character Select & Portrait
   --fat-portrait-opacity: 0.9;
   --fat-portrait-bg: #1e1e1e;

  // Stat Compare
  // --fat-statcompare-big-header: #87d2f6;

  // Fab
  // --fat-fab-background: #0f4c75;;
  // --fat-fab-inner: #ffffff;

  // Settings
  --fat-settings-item-border: #424242;
  --fat-settings-icon: #d6d6d6;

  // What's New
  // --fat-whatsnew-header: #87d2f6;
  // --fat-whatsnew-feature: #4ec27d;
  // --fat-whatsnew-bug: #ff4d4d;
 }